.body {
  min-height: 70vh;
}

.article {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: relative;
}

.aHeader {
  width: 100%;
  height: 500px;
}

.aHeader img {
  object-fit: cover;
  object-position: 0 -50px;
  width: 100%;
  height: 100%;
  border-radius: 8px;
}

.veil {
  position: absolute;
  background-color: rgb(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  border-radius: 8px;
}

.main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin: 80px;
  width: 100%;
  background-color: rgb(0, 0, 0, 0.3);
}

.main h1 {
  font-family: var(--f1);
  font-size: 40px;
  color: var(--orange1);
  margin: 0;
}

.main p {
  margin: 0 30px;
  font-weight: 1000;
  font-size: 22px;
  text-align: justify;
  line-height: 1.7;
  letter-spacing: 0.02em;
  hyphens: auto;
}
