.body {
  min-height: 600px;
  padding-bottom: 15px;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--yellow0);
}

div.yearList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 25px;
}

.ylHeader {
  font-family: var(--f1);
  font-size: 22px;
  color: var(--orange1);
  text-align: center;
}

.ylMonths {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 30px;
}

.monthList {
  min-width: 250px;
  min-height: 100px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 8px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}


.mlHeader {
  font-size: 24px;
  font-family: var(--f1);
  color: var(--yellow1);
  text-align: center;
  align-self: center;
}

.mlEntries {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

a.mlEntry {
  color: var(--orange0);
  font-weight: 1000;
  font-size: 19px;
  padding: 10px 25px;
  width: fit-content;
  border-color: transparent;
  background-color: rgb(0, 0, 0, 0.05);
  transition: border-color ease-in 0.2s, color ease-in 0.3s;
}

.mlEntry:hover {
  color: var(--orange1);
  background-color: rgb(0, 0, 0, 0.1);
  border-color: inherit;
}

form.searchBar {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--orange0);
  gap: 15px;
  padding: 15px 30px;
}

.searchInput {
  flex: 1;
  padding: 10px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  font-size: 18px;
  text-align: center;
}

button.searchBtn {
  padding: 5px 10px;
  font-size: 18px;
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
}
